
<div class="gistfile-form">
<label for="gist_gistfiles_name<%=formNum%>">Gistfile Name</label>
<input name="gist[gistfiles][<%=formNum%>][name]"
id="gist_gistfiles_name<%=formNum%>">

<label for="gist_gistfiles_body<%=formNum%>">Gistfile Body</label>
<textarea name="gist[gistfiles][<%=formNum%>][body]"
id="gist_gistfiles_body<%=formNum%>"> </textarea>
</br>
<button class="add-gistfile-form">Add Another Gistfile</button>
<div>
